{% extends 'base.html' %}

{% load static %}

{% block main-content %}
<header class="hero">
    <div class="hero-content">
        <h1>Welcome to the Online Auction Platform</h1>
        <p>Find unique items and start bidding!</p>
    </div>
</header>
<div class = "container">
    <h2 class = "text-center">Auctioned Items</h2>
    <br><br>
    <div class = "row container">
        {% for product_items in Product %}
        <div class = "col-md-4 col-sm-4  mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name : none;"> 
        <p class = "ph1">{{product_items.name}}</p>
            <div class = "goodnesssec MobilePhone smbg">
                <a href = "{% url 'product_detail' product_items.id %}">
                    <div class = "goodnessseccont text-center">
                        <img src="{{ product_items.image.url }}" class = "img-responsive" alt = "img" width="100%" height = "250"/>
                        <div style="display: flex;  justify-content: space-around;">
                            <p class="ph1"> Rs {{product_items.current_price}}</p>
                            <p class="ph1"> End Date: {{product_items.auction_end_time}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <!-- <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Laptop smbg">
                <a href = "{% url 'Category' 'JW' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/watches.jpg' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Jewelry and Watches</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Headphone smbg">
                <a href = "{% url 'Category' 'VC' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/vehicles.jpg' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Vehicles</p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Smartwatch smbg">
                <a href = "{% url 'Category' 'RE' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/real estate.png' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Real Estate</p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Smartspeaker smbg">
                <a href = "{% url 'Category' 'FA' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/Fashion.png' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Fashion and Accesories</p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Camera smbg">
                <a href = "{% url 'Category' 'VRB' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/books.jpg' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Vintage and Rare Books </p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Webcam smbg">
                <a href = "{% url 'Category' 'C' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/collectibles.webp' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Collectibles</p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec Pendrives smbg">
                <a href = "{% url 'Category' 'FW' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/finewine.jpg' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Fine Wine and Spirits</p>
                    </div>
                </a>
            </div>
    
        </div>

        <div class = "col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration = "1s"
        data-wow-delay = "0.6s" style = "animation-duration: 1s; animation-delay: 0.6s; animation-name = none;"> 
            <div class = "goodnesssec PowerBank smbg">
                <a href = "{% url 'Category' 'E' %}">
                    <div class = "goodnessseccont text-center">
                        <img src ="{% static 'images/electronics.jpg' %}" class = "img-responsive" alt = "img" width="100%" height = "250" />
                        <p class = "ph1">Electronics</p>
                    </div>
                </a>
            </div>
    
        </div> -->
    </div> 

</div>
<br/><br/>
{% endblock main-content %}
