{% extends 'base.html' %}

{% load static %}

{% block main-content %}
<h1>{{ product.name }}</h1>
<img src="{{ product.image.url }}" alt="{{ product.name }}">
<p>Description: {{ product.description }}</p>
<p>{{ currenttime }}</p>
{% if status == 2  %}
    <p>Auction is Over Now And waiting for Result Delcare</p>

{% elif status == 1 %}
        <p>Start Price: Rs.{{ product.start_price }}</p>
    <p>Current Price: Rs.{{ product.current_price }} </p>
    <p>Your Price:  <a href="{% url 'browseauctions' product.pk %}">Add Your Price</a></p>
    {% if bid_details %}
        <ul style="list-style: none;">
            {% for bids in bid_details %}
            <li> {{forloop.counter}}: {{bids.bid_amount}} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% elif status == 3 %}
        <p>Expired</p>
{% elif status == 0 %}
    <p>This Product is Sold to : {{ product.sold_to.username }}</p>
{% endif %}
<p>Auction End Time: {{ product.auction_end_time }}</p>
<p>Seller: {{ product.seller.username }}</p>
<p>Status: {{ product.status }}</p>
{% endblock main-content %}